body {
    background-image: url("../Assets/img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    color: white;
    text-shadow: 3px 2px black;

}

.item{
    height: 300px;
    width: 300px;
    box-shadow: 2px 1px 5px 0px black;
    border-radius: 6px;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-content:center;
    background-color: #fff;
}

.item:hover{
    transform:scale(1.07);
    transition: 1s ease;
}

.itemContent {
    color: white;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 1px 2px black;
    margin: auto 0;
}

    .itemContent:hover {
        font-size: 20px;
        transition: 2s ease;
        color: #c9f299;
    }
